<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'materials/style.css' %}" />
<link rel="icon" href="{% static 'materials/favicon.ico' %}" type="image/x-icon" />
<link rel="shortcut icon" href="{% static 'materials/favicon.ico' %}" type="image/x-icon" />

<html>
  <head>
    <meta charset="utf-8">
    <title>CONPANCOL DB Manager</title>
  </head>

  <body>

  <div class="header-cont">
    <img class="img-logo" src="{% static 'materials/images/Conpancol-minus.png' %}" alt="LOGO">
  </div>

  {% block menu %}
    {% endblock %}

  {% block content %}
  {% endblock %}

  </body>

  <footer class="footer">
        <div class="container">
        <span class="text-muted">A Phystech LAB software</span>
      </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</html>