{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block menu %}

{% include "navbar.html" %}

{% endblock %}

{% block content %}

<div class="content">

  <h2>{{view_texts.export.main_title}}</h2>

  <h4>{{view_texts.export.sub_title}}</h4>

    <form action="" method="POST">
    {% csrf_token %}

    {% for hidden in rfqform.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in rfqform.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field |add_class:'form-control'}}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
    <button type="submit" class="btn btn-success">{{view_texts.export.submit}}</button>
   </form>

   <div class="content-items">
   </div>

  {% if error_message %}
      <p> {{ error_message }} </p>
  {% endif %}

  {% block instructions %}
    {% include "instructions.html" %}
  {% endblock %}

</div>

{% endblock %}