{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block menu %}

{% include "navbar.html" %}

{% endblock %}

{% block content %}

<div class="content">

  <h2>{{view_texts.simple_upload.main_title}}</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field |add_class:'form-control'}}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}

    <button type="submit" class="btn btn-success">{{view_texts.simple_upload.submit}}</button>
  </form>

  <div class="content-items">
  </div>

  {% if error_message %}
      <p> {{ error_message }} </p>
  {% endif %}

  {% block instructions %}
    {% include "instructions.html" %}
  {% endblock %}

</div>

{% endblock %}